* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

/* Dashboard */

header .head-dashboard {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
}

header .head-dashboard .head-dashboard-left {
    display: flex;
    align-items: center;
    height: 90%;
    width: 15%;
    justify-content: space-between;
    margin-left: 20px;
}

header .head-dashboard h3 {
    color: black;
    font-size: 1.5em;
}

header .head-dashboard .head-dashboard-left img {
    height: 90%;
}

header .head-dashboard .head-dashboard-right {}

.body-dashboard {
    background-color: rgba(216, 211, 211, 0.438);
}

nav .side-nav {
    width: 12%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav .side-nav ul {
    list-style: none;
    width: 100%;
}

nav .side-nav ul .current-nav {
    color: red;
}

nav .side-nav ul li {
    width: 100%;
    cursor: pointer;
    display: flex;
    margin: 20px 0;
    align-items: center;
}

nav .side-nav ul li a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
}

nav .side-nav ul li i {
    width: 50%;
    text-align: center;
}

nav .side-nav ul li:hover, nav .side-nav ul li a:hover {
    color: rgba(0, 0, 255, 0.527);
}

.body-container {
    float: right;
    width: 80%;
    margin-right: 2em;
    height: fit-content;
    margin-top: 10px;
}

#Archive, #Report, #Tasks, #Profile {
    display: none;
}

.body-container .body-container-top {
    margin-top: 10px;
    width: 100%;
}

.body-container .body-container-bottom {
    background-color: white;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid rgba(173, 169, 169, 0.651);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container .body-container-bottom .tabs {
    width: 96%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.body-container .body-container-bottom .tabs a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    text-transform: uppercase;
}

.body-container .body-container-bottom .tabs a:hover {
    color: rgba(0, 0, 255, 0.527);
}

.body-container .body-container-bottom .tabs .current-tab {
    color: red;
}

.body-container .body-container-bottom .head {
    width: 96%;
    height: 20%;
    display: none;
    margin-top: 15px;
    justify-content: space-between;
}

.body-container .body-container-bottom .head h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.body-container .body-container-bottom .head input {
    border-radius: 10px;
    border-style: solid;
}

.body-container .body-container-bottom .info-table {
    margin-top: 10px;
    width: 96%;
}

.body-container .body-container-bottom .info-table table {
    width: 100%;
}

.body-container .body-container-bottom .info-table table th, .body-container .body-container-bottom .info-table table td {
    width: fit-content;
}

.body-container .body-container-bottom .info-table table th {
    background-color: rgba(216, 211, 211, 0.438);
}

.body-container .body-container-bottom .info-table table th, .body-container .body-container-bottom .info-table table td {
    border: 2.5px solid rgba(216, 211, 211, 0.966);
    text-align: left;
}

.body-container .body-container-bottom #Doctors, .body-container .body-container-bottom #Patients, .body-container .body-container-bottom #Offers {
    display: none;
}

.body-container .body-container-bottom i {
    color: green;
    margin-top: 10px;
    cursor: pointer;
}

.body-container .body-container-bottom .info-table table i {
    color: red;
    margin: auto auto auto 7px;
}

.add-form {
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.add-form::after {
    background-color: rgba(0, 0, 0, 0.8);
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.9;
    z-index: -1;
}

.add-form form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    background-color: rgba(221, 196, 196, 0.904);
    font-family: sans-serif;
    margin: auto;
    z-index: 3;
    overflow-y: auto;
}

.add-form form i {
    align-self: flex-end;
    cursor: pointer;
}

.add-form form h1 {
    color: rgb(69, 71, 71);
}

.add-form form input {
    width: 65%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
}

.add-form form label {
    width: 65%;
}

.add-form form button {
    width: 40%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    background-color: rgba(148, 113, 113, 0.432);
    font-size: 18px;
    color: rgba(247, 247, 247, 0.911);
    cursor: pointer;
}

.add-form form button:hover {
    background-color: rgba(34, 129, 236, 0.534);
    color: #495052;
}

#form-Doctors, #form-Offers {
    display: none;
}

/* Dashboard */

/* Home */

header .head-home {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

header .head-home .info {
    margin-right: auto;
    margin-left: 30px;
}

.small-nav {
    margin-right: 30px;
}

.small-nav i {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
    cursor: pointer;
}

.notification {
    position: relative;
    cursor: pointer;
}

.notification-icon {
    position: absolute;
    background-color: rgb(133, 127, 127);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50px;
    text-align: center;
    color: rgba(64, 224, 208, 0.78);
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    left: 18px;
    top: 18px;
    margin: auto;
}

.notification-modal {
    display: none;
    position: absolute;
    flex-direction: column;
    height: fit-content;
    right: 70px;
    background-color: rgb(124, 124, 124);
    width: 20%;
    z-index: 1;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.notification-modal h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    margin-top: 5px;
}

.notification-modal .notification-item {
    width: 90%;
    border-radius: 15px;
    margin: 10px 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: justify;
    line-height: 1.6;
}

.notification-modal .notification-item:hover {
    background-color: rgba(64, 224, 208, 0.78);
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile-modal {
    display: none;
    position: absolute;
    height: fit-content;
    right: 130px;
    background-color: rgb(124, 124, 124);
    width: 20%;
    z-index: 1;
    border-radius: 5px;
}

.profile-modal .sign-in-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.profile-modal .sign-in-form h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    margin-top: 5px;
}

.profile-modal .sign-in-form form {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 75%;
}

.profile-modal .sign-in-form form * {
    margin-top: 10px;
}

.profile-modal .sign-in-form form label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgba(64, 224, 208, 0.555);
}

.profile-modal .sign-in-form form input {
    border-radius: 10px;
    border-color: white;
    border-style: none;
    padding: 3px 30px;
}

.profile-modal .sign-in-form a {
    border-radius: 10px;
    width: 75%;
    text-align: center;
    margin-bottom: 10px;
}

.profile-modal .profile-modal-content {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profile-modal .profile-modal-content img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin: 10px auto;
}

.profile-modal .profile-modal-content p {
    align-self: center;
    font-weight: bold;
    font-size: 1.3em;
}

.profile-modal .profile-modal-content a {
    margin: 10px auto;
    align-self: center;
    font-weight: bold;
    font-size: 1.3em;
}

/* .backdrop {
    width: 100%;
    height: 100%;
    z-index: 10;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.8);
    display: none;
    overflow-y: scroll;
} */

header nav .nav-container {
    width: 100%;
    height: fit-content;
    position: relative;
}

header nav .nav-container::after {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.527), rgba(0, 0, 0, 0.5)), url("./../images/nav.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 50em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -1;
}

/* @media only screen and (min-width: 600px) and (max-width: 800px) {
    header nav .nav-container::after {
        content: "";
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("./../images/nav.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 60em;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.9;
        z-index: -1;
    }
} */

header nav .nav-container .nav-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-container .nav-top img {
    margin-left: 50px;
    margin-top: 40px;
}

header nav .nav-container .nav-top .nav-elements {
    margin-bottom: 40px;
}

header nav .nav-container .nav-top .nav-elements a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 25px;
    margin-right: 70px;
}

header nav .nav-container .nav-top .nav-elements a:hover {
    color: turquoise;
}

header nav .nav-container .nav-center {
    margin: 50px auto auto auto;
    width: 90%;
    height: fit-content;
    text-align: center;
}

header nav .nav-container .nav-center h1 {
    font-size: 6em;
    color: rgba(255, 255, 255, 0.349);
}

header nav .nav-container .nav-center p {
    margin: 25px auto auto auto;
    width: 80%;
    color: rgba(255, 255, 255, 0.719);
}

header nav .nav-container .nav-center .nav-center-buttons {
    margin-top: 70px;
}

.btn {
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 30px;
    color: white;
    background-color: #2d3663b4;
    cursor: pointer;
}

header nav .nav-container .nav-center .nav-center-buttons a {
    padding: 20px 100px;
}

.btn1 {
    color: black;
    background-color: rgba(64, 224, 208, 0.78);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.671);
}

.nav-bottom {
    display: flex;
    width: 90%;
    height: fit-content;
    margin: auto;
    justify-content: space-between;
}

header nav .nav-container .nav-bottom {
    margin: 50px auto auto auto;
}

header nav .nav-container .nav-bottom .left-nav-bottom * {
    width: 75%;
}

.nav-bottom .left-nav-bottom {
    width: 30%;
    border-radius: 10px;
    background-color: rgb(0, 218, 218, 0.911);
    display: flex;
    flex-direction: column;
}

.nav-bottom .left-nav-bottom h1, .nav-bottom .right-nav-bottom h1 {
    margin: 20px auto auto auto;
    font-size: 30px;
}

.nav-bottom .left-nav-bottom p {
    margin: 20px auto;
    text-align: justify;
    line-height: 1.6;
}

.nav-bottom .left-nav-bottom a {
    text-align: center;
    width: 75%;
    margin: auto auto 20px auto;
    padding: 20px 0;
}

.nav-bottom .right-nav-bottom {
    width: 65%;
    border-radius: 10px;
    background-color: rgba(247, 247, 247, 0.911);
    display: flex;
    flex-direction: column;
}

header nav .nav-container .nav-bottom .right-nav-bottom {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

header nav .nav-container .nav-bottom .right-nav-bottom .Diagnostic-type-card {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 45%;
    width: 20%;
    border-radius: 10px;
    margin: 10px 10px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: #2D3663;
}

header nav .nav-container .nav-bottom .right-nav-bottom .Diagnostic-type-card:hover {
    background-color: #2D3663;
    color: white;
}

header nav .nav-container .nav-bottom .right-nav-bottom .Diagnostic-type-card img {
    width: 50%;
    height: 50%;
    margin-bottom: 10px;
}

header nav .nav-container .nav-bottom .right-nav-bottom .Diagnostic-type-card h3 {
    margin-bottom: 20px;
    font-size: 1em;
}

body main .nav-bottom .left-nav-bottom {
    background-color: white;
    width: 40%;
}

body main .nav-bottom .left-nav-bottom h1, body main .nav-bottom .right-nav-bottom h1 {
    color: #2D3663;
    margin-right: 0;
    margin-left: 0;
}

body main .nav-bottom .left-nav-bottom a {
    margin-right: 0;
    margin-left: 0;
    width: 25%;
    padding: 10px 0;
    font-size: 1em;
}

body main .nav-bottom .right-nav-bottom h1 {
    margin-left: 20px;
    margin-bottom: 30px;
}

body main .nav-bottom .right-nav-bottom {
    width: 55%;
    background-color: white;
    display: flex;
    justify-content: space-between;
}

body main .nav-bottom .right-nav-bottom .percentages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

body main .nav-bottom .right-nav-bottom .progress-circle {
    font-size: 20px;
    position: relative;
    /* so that children can be absolutely positioned */
    padding: 0;
    width: 7em;
    height: 7em;
    background-color: #F2E9E1;
    border-radius: 50%;
    line-height: 5em;
}

body main .nav-bottom .right-nav-bottom .progress-circle:after {
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    right: 0.35em;
    bottom: 0.35em;
    text-align: center;
    border-radius: 50%;
    width: 6.3em;
    height: 6.3em;
    background-color: white;
    content: "";
}

/* Text inside the control */

body main .nav-bottom .right-nav-bottom .progress-circle span {
    position: absolute;
    line-height: 5em;
    width: 7em;
    text-align: center;
    color: #08a1db;
    z-index: 2;
    font-weight: bold;
    font-family: sans-serif;
}

body main .nav-bottom .right-nav-bottom .progress-circle p {
    position: absolute;
    width: 7em;
    font-size: 0.8em;
    text-align: center;
    color: #08a1db;
    z-index: 2;
    bottom: 0;
    left: 12px;
}

body main .nav-bottom .right-nav-bottom .progress-circle .left-half-clipper {
    /* a round circle */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    position: absolute;
    /* needed for clipping */
    clip: rect(0, 7em, 7em, 4.5em);
    /* clips the whole left half*/
}

/* when p>50, don't clip left half*/

body main .nav-bottom .right-nav-bottom .progress-circle.over50 .left-half-clipper {
    clip: rect(auto, auto, auto, auto);
}

body main .nav-bottom .right-nav-bottom .progress-circle .left-half-clipper .value-bar {
    /*This is an overlayed square, that is made round with the border radius,
     then it is cut to display only the left half, then rotated clockwise
     to escape the outer clipping path.*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, 4.5em, 7em, 0);
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 0.45em solid #08a1db;
    /*The border is 0.35 but making it larger removes visual artifacts */
    /*background-color: #4D642D;*/
    /* for debug */
    box-sizing: border-box;
}

/* Progress bar filling the whole right half for values above 50% */

body main .nav-bottom .right-nav-bottom .progress-circle.over50 .first50-bar {
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, 7em, 7em, 4.5em);
    background-color: #08a1db;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}

body main .nav-bottom .right-nav-bottom .progress-circle:not(.over50) .first50-bar {
    display: none;
}

body main .home-image {
    width: 90%;
    margin: auto;
}

/* Home */

/* About US */

header nav .nav-container .nav-bottom .about-section {
    text-align: center;
    background-color: #474e5de3;
    color: white;
    border-radius: 10px;
}

header nav .nav-container .nav-bottom .about-section .content {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto auto auto;
    line-height: 1.6;
    letter-spacing: 1px;
    font-size: large;
}

header nav .nav-container .nav-bottom .about-section .content h2 {
    margin: 20px 0;
    align-self: flex-start;
}

header nav .nav-container .nav-bottom .about-section .content .read-more-btn {
    color: #fff;
    background-color: #2b9ec2;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}

header nav .nav-container .nav-bottom .about-section .content .read-more-btn:hover {
    background-color: #fff;
    color: #2b9ec2;
}

header nav .nav-container .nav-bottom .more-text {
    display: none;
    margin-bottom: 20px;
}

/* About US */

/* Offers */

.offer {
    display: flex;
    width: 100%;
    height: fit-content;
    background-color: rgba(64, 224, 208, 0.555);
    flex-wrap: wrap;
    border-radius: 10px;
}

.offer .card-offers {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgba(167, 167, 167, 0.904);
}

.offer .card-offers:hover {
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem black;
}

.offer .card-offers .card-top {
    width: 75%;
    align-self: center;
    height: 10em;
    margin-top: 10px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 10px;
}

.offer .card-offers .card-top img {
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
}

.offer .card-offers .card-buttom {
    font-size: 90%;
    color: black;
    letter-spacing: 1;
    line-height: 1.6;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 10px;
    width: 100%;
}

.offer .card-offers .card-buttom a {
    width: 100%;
    height: 1.5em;
    text-decoration: none;
    padding: 5px 50px;
    margin-top: 10px;
}

/* Offers */

/* Payment */

header nav .nav-container .nav-bottom .payment {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

header nav .nav-container .nav-bottom .payment form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 8px 0 #2b9ec2, 0 4px 8px 0 #2b9ec2;
    background-color: rgba(221, 196, 196, 0.432);
    font-family: sans-serif;
    border: solid rgb(97, 93, 93);
}

header nav .nav-container .nav-bottom .payment form radio-button {
    margin: 0;
}

header nav .nav-container .nav-bottom .payment form label {
    margin: 20px 120px;
    align-self: flex-start;
}

header nav .nav-container .nav-bottom .payment form input {
    width: 65%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin: auto;
}

header nav .nav-container .nav-bottom .payment form .p-date {
    display: flex;
    width: 66%;
    margin-left: 12px;
    
}


header nav .nav-container .nav-bottom .payment form .p-date input {
    margin-right: 10px;
}



header nav .nav-container .nav-bottom .payment form button {
    width: 65%;
    padding: 10px;
    margin: 40px auto;
    border: none;
    border-radius: 15px;
    background-color: rgba(82, 52, 52, 0.432);
    font-size: 18px;
    color: rgba(247, 247, 247, 0.911);
    cursor: pointer;
}

header nav .nav-container .nav-bottom .payment form button:hover {
    background-color: rgba(56, 33, 33, 0.534);
    color: #2b9ec2;
}

header nav .nav-container .nav-bottom .payment form .row {
    display: flex;
    width: 100%;
    justify-content: center;
}

header nav .nav-container .nav-bottom .payment form .row img {
    width: 15%;
    margin: 15px 0 0 25px;
    border-radius: 10px;
}

/* Payment */

/* FOOTER */

footer {
    width: 100%;
    background-color: rgb(38, 56, 95);
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: 100px auto auto auto;
}

footer .footer-top {
    display: flex;
    width: 90%;
    height: 20%;
    margin: auto;
    border-bottom: dashed rgba(245, 245, 245, 0.445);
    justify-content: space-between;
    align-items: center;
}

footer .footer-top * {
    margin: 20px 0;
}

footer .footer-top img {
    width: 10%;
    height: 10%;
}

footer .footer-top .social-icons {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

footer .footer-top .social-icons p {
    font-weight: bold;
    color: white;
}

footer .footer-top .social-icons .icons {
    background-color: rgba(64, 224, 208, 0.849);
    border-radius: 50px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
}

footer .footer-top .social-icons i {
    text-align: center;
    margin: auto;
}

footer .footer-bottom {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

footer .footer-bottom div * {
    margin: 10px 0;
}

footer .footer-bottom div {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: justify;
}

footer .footer-bottom div h1 {
    color: rgba(64, 224, 208, 0.849);
}

footer .footer-bottom div p {
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.63);
    width: 80%;
}

footer .footer-bottom div .icons {
    background-color: rgba(64, 224, 208, 0.692);
    border-radius: 50px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer .footer-bottom div span i {
    text-align: center;
    margin: auto;
}

footer .footer-bottom div span p {
    position: absolute;
    left: 2em;
    width: 13em;
}

footer .footer-bottom div ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer .footer-bottom div ul li {
    position: relative;
    padding-bottom: 10px;
}

footer .footer-bottom div ul li:before {
    content: "";
    position: absolute;
    border-right: 3px solid rgba(64, 224, 208, 0.692);
    border-bottom: 3px solid rgba(64, 224, 208, 0.692);
    width: 0.5em;
    height: 0.5em;
    top: calc(47% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
}

footer .footer-bottom div ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer .footer-bottom div ul li a:hover {
    color: rgba(64, 224, 208, 0.692);
    text-decoration: underline;
}

/*Footer*/

/*AddNewOffer(Admin)*/

.form-dashboard {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg,#71b7e6,#9b59b6) ;
    width: 70%;
    height: 90%;
    border-radius: 10px;
}

.form-dashboard .title{
    font-size: 25px;
    font-weight: 500 ;
    position: relative;
    margin: 20px auto;
}
.form-dashboard .title::before{
    content: '';
    position: absolute;
    margin: auto;
    left: 0;
    bottom:0;
    height: 3px;
    width:160px;
    margin-top: 50px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6) ;
}

.form-dashboard form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    width: 50%; 
    height: 90%;
    border-radius: 10px;
    background-color: whitesmoke;
}

.form-dashboard form .input-box {
    width: 80%;
    margin: auto;
    height: 20%;
    margin-bottom: 20px;
}

 .form-dashboard form .input-box input{
    height: 70%;
    width: 100%; 
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: medium;
    border-bottom-width: 2px;
    margin-top: 7px ;
}

form .offer-btn{
    height: 100px;
    margin: auto;
    margin-top: 10px;
}

/* Payment */

header nav .nav-container .nav-bottom .payment {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

header nav .nav-container .nav-bottom .payment form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    border-radius: 10px;
    width: 50%;
    height: 100%;
    box-shadow: 0 4px 8px 0 #2b9ec2, 0 4px 8px 0 #2b9ec2;
    background-color: rgba(221, 196, 196, 0.432);
    font-family: sans-serif;
    border: solid rgb(97, 93, 93);
}

header nav .nav-container .nav-bottom .payment form label {
    margin: 20px 120px;
    align-self: flex-start;
}

header nav .nav-container .nav-bottom .payment form input {
    width: 65%;
    padding: 10px;
    border: none;
    border-radius: 15px;
    box-sizing: border-box;
    margin: auto;
}

header nav .nav-container .nav-bottom .payment form .payment-date {
    display: flex;
    width: 82%;
    margin: auto;
}

header nav .nav-container .nav-bottom .payment form .payment-date input {
    width: 30%;
}

header nav .nav-container .nav-bottom .payment form button {
    width: 65%;
    padding: 10px;
    margin: 40px auto;
    border: none;
    border-radius: 15px;
    background-color: rgba(82, 52, 52, 0.432);
    font-size: 18px;
    color: rgba(247, 247, 247, 0.911);
    cursor: pointer;
}

header nav .nav-container .nav-bottom .payment form button:hover {
    background-color: rgba(56, 33, 33, 0.534);
    color: #2b9ec2;
}

header nav .nav-container .nav-bottom .payment form .row {
    display: flex;
    width: 100%;
    justify-content: center;
}

header nav .nav-container .nav-bottom .payment form .row img {
    width: 15%;
    margin: 15px 0 0 25px;
    border-radius: 10px;
}

/* Payment */

/* Admin profile*/

.body-container .body-container-bottom .profile-container {
    width: 100%;
    height: 100%;
    display: flex;
    margin: 30px auto;
}

.body-container .body-container-bottom .profile-container img {
    display: flex;
    width: 20%;
    height: 20%;
    border-radius: 10px;
    margin-left: 20px;
}

.body-container .body-container-bottom .profile-container .profile-container-bottom {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.body-container .body-container-bottom .profile-container .profile-container-bottom * {
    margin-bottom: 20px;
}

.body-container .body-container-bottom .profile-container .Speciality {
    display: flex;
    height: fit-content;
    justify-content: space-between;
}

.body-container .body-container-bottom .profile-container .Speciality p {
    font-size: 20px;
    border: solid rgba(216, 211, 211, 0.836);
    border-radius: 10px;
    padding: 5px;
}

/* Admin profile*/

/* Mostafa */

.topCon {
    min-width: 800px;
    text-align: center;
}

.topCon h2 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
}

.topCon p {
    font-weight: 300;
    color: #fff;
}

.container {
    justify-content: left;
    display: flex;
    align-items: center;
    margin-top: 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .box {
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .box h2 {
    padding-right: 10px;
    font-weight: 700;
    font-size: 40px;
    color: rgba(18, 240, 248);
}

.container .box p {
    font-weight: 700;
    font-size: 20px;
    color: rgba(18, 240, 248);
    border: all;
    margin: 0;
    display: flex;
}

.contactForm {
    width: 40%;
    padding: 60px;
    background-color: #fff;
    top: 800px;
}

.contactForm h2 {
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox {
    margin-top: 10px;
    position: relative;
    width: 100%;
}

.contactForm .inputBox input, .contactForm .inputBox textarea {
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    resize: none;
}

.contactForm .inputBox span {
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    color: #666;
}

.contactForm .inputBox input:focus~span, .contactForm .inputBox input:valid~span, .contactForm .inputBox textarea:focus~span, .contactForm .inputBox textarea:valid~span {
    font-size: 12px;
    color: rgb(255, 3, 137);
    transform: translateY(-20px);
}

.contactForm .inputBox input[type=submit] {
    width: 100%;
    background-color: rgba(13, 198, 204);
    border-bottom: none;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
}

@media (max-width:991px) {
    .container {
        flex-direction: column;
    }
    .container .contactInfo {
        margin-bottom: 50px;
    }
    .container .contactInfo, .contactForm {
        width: 100%;
    }
}

/* Pop up*/

.popup {
    display: none;
    background-color: #f8f8f8;
    box-shadow: 0 5px 15px #111;
}

.popup .overlay {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 1000vw;
    height: 100%;
    z-index: 1;
    background: #444;
    border-radius: 5px;
    box-shadow: 0 5px 15px #111;
    box-shadow: 0;
    display: none;
}

.popup .contentPopUp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgb(255, 241, 241);
    width: 400px;
    height: 270px;
    z-index: 2;
    text-align: center;
    padding: 40px;
    border-radius: 40px;
    box-sizing: border-box;
}

.popup .contentPopUp h1 {
    font-size: 25px;
    font-family: verdana;
    color: #444;
    align-items: stretch;
}

.popup .contentPopUp p {
    font-size: 15px;
    font-weight: 500;
    margin-top: 50px;
    font-family: verdana;
    color: #444;
    align-items: stretch;
}

.popup.active .overlay {
    display: block;
}

.popup.active .contentPopUp {
    transition: all 300ms ease-in-out;
    transform: translate(-50%, -50%) scale(1);
}

.popup button {
    height: 30px;
    width: 160px;
    background: rgba(18, 240, 248);
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    font-size: 15px;
    box-shadow: 0 3px 10px rgb(49, 49, 49);
}

.popup button:hover {
    opacity: .8;
}

.popup button a {
    text-decoration: none;
}

/**/

.topCon {}

.topCon h1 {
    font-size: 36px;
    font-weight: 500;
    color: #fff;
    align-items: stretch;
}

.topCon p {
    font-weight: 300;
    color: #fff;
}

.askadoctor-container {
    margin: auto;
    display: flex;
    width: 50%;
    flex-direction: column;
}

.askadoctor-container .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 60%;
}

.askadoctor-container button {
    height: 30px;
    width: 160px;
    background: rgba(18, 240, 248);
    color: #fff;
    cursor: pointer;
    margin: 10px 0;
    font-size: 15px;
    box-shadow: 0 3px 10px #111;
    border-radius: 5px;
}

.askadoctor-container button:hover {
    opacity: .8;
}

.askadoctor-container .boxContainer {
    width: 100%;
    height: fit-content;
    background: #444;
    box-shadow: 0 5px 15px #111;
    border-radius: 5px;
    padding: 15px;
    display: none;
}

.askadoctor-container .boxContainer .box {
    height: fit-content;
    width: 100%;
    border-radius: 5px;
    background: #f8f8f8;
    overflow-y: auto;
    text-align: left;
}

#input {
    width: 100%;
    height: 40px;
    background: none;
    font-size: 15px;
    color: #fff;
    border-bottom: 1px solid #fff;
}

#input:focus {
    border-bottom: 2px solid #fff;
}

/*Mostafa: Reservation*/

.error::-webkit-input-placeholder {
    color: red;
}

/*Sign-up*/

header .sign-up-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    height: fit-content;
    position: relative;
}

header .sign-up-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    width: 40%;
    height: 550px;
    background-color: rgb(255, 255, 255);
    margin-top: 100px;
}

header .sign-up-form form h2 {
    margin: 10px 0 25px 0;
    font-size: 20px;
}

header .sign-up-form form input {
    width: 70%;
    padding: 10px;
    border: solid;
    border-color: rgb(167, 167, 167);
    border-radius: 8px;
    box-sizing: border-box;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 20px;
}

header .Sign-up-image {
    width: 50%;
    margin: auto;
}

header .sign-up-form::after {
    content: "";
    background-image: linear-gradient(rgba(133, 127, 127, 0.788), rgba(64, 224, 208, 0.78)), url("./../images/Sign-up.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 50em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -1;
}

header .sign-up-form form input[type=button] {
    width: 70%;
    padding: 8px;
    margin: 30px auto;
    border: none;
    border-radius: 5px;
    background-color: rgba(82, 52, 52, 0.432);
    font-size: 18px;
    color: rgba(247, 247, 247, 0.911);
    cursor: pointer;
    background-image: linear-gradient(to right, #6a6d72 0%, #79CBCA 51% 100%)
}

header .sign-up-form form button:hover {
    color: #1a1717;
    background-color: rgb(78, 133, 179);
}

/*Sign-up*/