* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.body {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
}

/* Dashboard */

header .head-dashboard {
    display: flex;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 7vh;
    justify-content: space-between;
    align-items: center;
}

header .head-dashboard .head-dashboard-left {
    display: flex;
    align-items: center;
    height: 90%;
    width: 15%;
    justify-content: space-between;
    margin-left: 20px;
}

header .head-dashboard h3 {
    color: black;
    font-size: 1.5em;
}

header .head-dashboard .head-dashboard-left img {
    height: 90%;
}

header .head-dashboard .head-dashboard-right {

}

.body-dashboard {
    background-color: rgba(216, 211, 211, 0.438);
}

nav .side-nav {
    width: 12%;
    float: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

nav .side-nav ul {
    list-style: none;
    width: 100%;
}

nav .side-nav ul .current-nav {
    color: red;
}

nav .side-nav ul li {
    width: 100%;
    cursor: pointer;
    display: flex;
    margin: 20px 0;
    align-items: center;
    
}

nav .side-nav ul li a {
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    color: black;
} 

nav .side-nav ul li i {
    width: 50%;
    text-align: center;
}

nav .side-nav ul li:hover, nav .side-nav ul li a:hover {
    color: rgba(0, 0, 255, 0.527);
}


.body-container {
    float: right;
    width: 80%;
    margin-right: 2em;
    height: fit-content;
    margin-top: 10px;
}

#Archive, #Report {
    display: none;
}

.body-container .body-container-top {
    margin-top: 10px;
    width: 100%;
}

.body-container .body-container-bottom {
    background-color: white;
    width: 100%;
    height: fit-content;
    margin-top: 10px;
    border-radius: 15px;
    border: 2px solid rgba(173, 169, 169, 0.651);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.body-container .body-container-bottom .tabs {
    width: 96%;
    height: 20%;
    display: flex;
    align-items: center;
    margin: 10px 0;
}

.body-container .body-container-bottom .tabs a {
    text-decoration: none;
    margin-right: 20px;
    color: black;
    font-weight: bold;
    font-size: 0.8em;
    cursor: pointer;
    text-transform: uppercase;
}

.body-container .body-container-bottom .tabs a:hover {
    color: rgba(0, 0, 255, 0.527);
}

.body-container .body-container-bottom .tabs .current-tab {
    color: red;
}

.body-container .body-container-bottom .head {
    width: 96%;
    height: 20%;
    display: flex;
    margin-top: 15px;
    justify-content: space-between;
}

.body-container .body-container-bottom .head h3 {
    font-size: 1.5em;
    font-weight: bold;
}

.body-container .body-container-bottom .info-table  {
    margin-top: 10px;
    width: 96%;
}


.body-container .body-container-bottom .info-table table {
    width: 100%;
}

.body-container .body-container-bottom .info-table table th, .body-container .body-container-bottom .info-table table td {
   width: fit-content;
}

.body-container .body-container-bottom .info-table table th {
    background-color: rgba(216, 211, 211, 0.438);
}

.body-container .body-container-bottom .info-table table th,
.body-container .body-container-bottom .info-table table td {
    border: 2.5px solid rgba(216, 211, 211, 0.966);
    text-align: left;
}

.body-container .body-container-bottom #Doctors,
.body-container .body-container-bottom #Patients,
.body-container .body-container-bottom #Offers {
    display: none;
}


/* Dashboard */

/* Home */

header .head-home {
    display: flex;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: fit-content;
    background-color: whitesmoke;
    justify-content: space-between;
    align-items: center;
}

header .head-home .info {
    margin-right: auto;
    margin-left: 30px;
}

.small-nav {
    margin-right: 30px;
}

.small-nav i {
    margin-right: 20px;
    text-decoration: none;
    color: rgba(0, 0, 0, 0.63);
    cursor: pointer;
}

.notification {
    position: relative;
    cursor: pointer;
}

.notification-icon {
    position: absolute;
    background-color: rgb(133, 127, 127);
    width: 20px;
    height: 20px;
    line-height: 20px;
    border-radius: 50px;
    text-align: center;
    color: rgba(64, 224, 208, 0.78);
    font-size: 15px;
    font-weight: bold;
    z-index: 1;
    left: 18px;
    top: 18px;
    margin: auto;
} 

.notification-modal {
    display: none;
    position: absolute;
    flex-direction: column;
    height: fit-content;
    right: 70px;
    background-color: rgb(124, 124, 124);
    width: 20%;
    z-index: 1;
    border-radius: 5px;
    justify-content: space-between;
    align-items: center;
}

.notification-modal h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    margin-top: 5px;
}

.notification-modal .notification-item {
    width: 90%;
    border-radius: 15px;
    margin: 10px 0;
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
    text-align: justify;
    line-height: 1.6;
}

.notification-modal .notification-item:hover {
    background-color: rgba(64, 224, 208, 0.78);
}

.profile {
    position: relative;
    cursor: pointer;
}

.profile-modal {
    display: none;
    position: absolute;
    height: fit-content;
    right: 130px;
    background-color: rgb(124, 124, 124);
    width: 20%;
    z-index: 1;
    border-radius: 5px;
}

.profile-modal .sign-in-form {
    display: none;
    flex-direction: column;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

.profile-modal .sign-in-form h2 {
    text-shadow: 1px 1px rgba(0, 0, 0, 0.226);
    margin-top: 5px;
}

.profile-modal .sign-in-form form {
    display: flex;
    flex-direction: column;
    margin: 10px auto; 
    width: 75%;
}

.profile-modal .sign-in-form form * {
    margin-top: 10px;
}

.profile-modal .sign-in-form form label {
    font-family: sans-serif;
    font-weight: bold;
    font-size: large;
    color: rgba(64, 224, 208, 0.555);
}

.profile-modal .sign-in-form form input {
    border-radius: 10px;
    border-color: white;
    border-style: none;
    padding: 3px 30px;
}

.profile-modal .profile-modal-content {
    display: none;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.profile-modal .profile-modal-content img {
    width: 40%;
    height: 40%;
    border-radius: 50%;
    margin: 10px auto;
}

.profile-modal .profile-modal-content p {
    align-self: center;
    font-weight: bold;
    font-size: 1.3em;
}

.backdrop {
    width: 100%;
    height: 100%;
    z-index: 100;
    left: 0;
    top: 0;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
}

header nav .nav-container {
    width: 100%;
    height: fit-content;
    position: relative;
}


header nav .nav-container::after {
    content: "";
    background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("./../images/nav.jpg");
    background-size: cover;
    background-position: center;
    position: absolute;
    height: 50em;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.9;
    z-index: -1;
}

/* @media only screen and (min-width: 600px) and (max-width: 800px) {
    header nav .nav-container::after {
        content: "";
        background-image: linear-gradient(rgba(0, 0, 0, 0.527),rgba(0, 0, 0, 0.5)), url("./../images/nav.jpg");
        background-size: cover;
        background-position: center;
        position: absolute;
        height: 60em;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        opacity: 0.9;
        z-index: -1;
    }
} */

header nav .nav-container .nav-top {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

header nav .nav-container .nav-top img {
    margin-left: 50px;
    margin-top: 40px;
}

header nav .nav-container .nav-top .nav-elements {
    margin-bottom: 40px;
}

header nav .nav-container .nav-top .nav-elements a {
    text-decoration: none;
    color: white;
    text-shadow: 2px 2px black;
    font-size: 25px;
    margin-right: 70px;
}

header nav .nav-container .nav-top .nav-elements a:hover {
    color: turquoise;
}

header nav .nav-container .nav-center {
    margin: 50px auto auto auto;
    width: 90%;
    height: fit-content;
    text-align: center;
}

header nav .nav-container .nav-center h1 {
    font-size: 6em;
    color: rgba(255, 255, 255, 0.349);
}

header nav .nav-container .nav-center p {
    margin: 25px auto auto auto;
    width: 80%;
    color: rgba(255, 255, 255, 0.719);
}

header nav .nav-container .nav-center .nav-center-buttons {
    margin-top: 70px;
}

.btn {
    text-decoration: none;
    font-size: 1.5em;
    border-radius: 30px;
    color: white; 
    background-color: rgba(133, 127, 127, 0.788);
    cursor: pointer;
}

header nav .nav-container .nav-center .nav-center-buttons a {
    padding: 20px 100px;
}

.btn1 {
    color: black;
    background-color: rgba(64, 224, 208, 0.78);
}

.btn:hover {
    background-color: rgba(0, 0, 0, 0.671);
}
 
.nav-bottom {
    display: flex;
    width: 90%;
    height: fit-content;
    margin: auto;
    justify-content: space-between;
}

header nav .nav-container .nav-bottom {
    margin: 50px auto auto auto;
}

header nav .nav-container .nav-bottom .left-nav-bottom * {
    width: 75%;
}

.nav-bottom .left-nav-bottom {
    width: 30%;
    border-radius: 10px;
    background-color: rgb(0, 218, 218, 0.911);
    display: flex;
    flex-direction: column;
}

.nav-bottom .left-nav-bottom h1, 
.nav-bottom .right-nav-bottom h1 {
    margin: 20px auto auto auto;
    font-size: 30px;
}

.nav-bottom .left-nav-bottom p {
    margin: 20px auto;
    text-align: justify;
    line-height: 1.6;
}

.nav-bottom .left-nav-bottom a {
    text-align: center;
    width: 75%;
    margin: auto auto 20px auto;
    padding: 20px 0;
}

.nav-bottom .right-nav-bottom {
    width: 65%;
    border-radius: 10px;
    background-color: rgba(247, 247, 247, 0.911);
    display: flex;
    flex-direction: column;
}

body main .nav-bottom .left-nav-bottom {
    background-color: white;
    width: 40%;
}

body main .nav-bottom .left-nav-bottom h1, 
body main .nav-bottom .right-nav-bottom h1 {
    color: #434c5f;
    margin-right: 0;
    margin-left: 0;
}


body main .nav-bottom .left-nav-bottom a {
    margin-right: 0;
    margin-left: 0;
    width: 25%;
    padding: 10px 0;
    font-size: 1em;
}

body main .nav-bottom .right-nav-bottom h1 {
    margin-left: 20px;
    margin-bottom: 30px;
}

body main .nav-bottom .right-nav-bottom {
    width: 55%;
    background-color: white;   
    display: flex;
    justify-content: space-between;
}

body main .nav-bottom .right-nav-bottom .percentages {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

body main .nav-bottom .right-nav-bottom .progress-circle {
    font-size: 20px;
    position: relative;
    /* so that children can be absolutely positioned */
    padding: 0;
    width: 7em;
    height: 7em;
    background-color: #F2E9E1;
    border-radius: 50%;
    line-height: 5em;
}
  
body main .nav-bottom .right-nav-bottom .progress-circle:after {
    border: none;
    position: absolute;
    top: 0.35em;
    left: 0.35em;
    right: 0.35em;
    bottom: 0.35em;
    text-align: center;
    border-radius: 50%;
    width: 6.3em;
    height: 6.3em;
    background-color: white;
    content: "";
}
  
  /* Text inside the control */
  
body main .nav-bottom .right-nav-bottom .progress-circle span {
    position: absolute;
    line-height: 5em;
    width: 7em;
    text-align: center;
    color: #08a1db;
    z-index: 2;
    font-weight: bold;
    font-family: sans-serif;
}

body main .nav-bottom .right-nav-bottom .progress-circle p {
    position: absolute;
    width: 7em;
    font-size: 0.8em;
    text-align: center;
    color: #08a1db;
    z-index: 2;
    bottom: 0;
    left: 12px;
}
  
body main .nav-bottom .right-nav-bottom .progress-circle .left-half-clipper {
    /* a round circle */
    border-radius: 50%;
    width: 7em;
    height: 7em;
    position: absolute;
    /* needed for clipping */
    clip: rect(0, 7em, 7em, 4.5em);
    /* clips the whole left half*/
}
  
  
  /* when p>50, don't clip left half*/
  
body main .nav-bottom .right-nav-bottom  .progress-circle.over50 .left-half-clipper {
    clip: rect(auto, auto, auto, auto);
}
  
body main .nav-bottom .right-nav-bottom .progress-circle .left-half-clipper .value-bar {
    /*This is an overlayed square, that is made round with the border radius,
     then it is cut to display only the left half, then rotated clockwise
     to escape the outer clipping path.*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, 4.5em, 7em, 0);
    width: 7em;
    height: 7em;
    border-radius: 50%;
    border: 0.45em solid #08a1db;
    /*The border is 0.35 but making it larger removes visual artifacts */
    /*background-color: #4D642D;*/
    /* for debug */
    box-sizing: border-box;
}
  
  
  /* Progress bar filling the whole right half for values above 50% */
  
body main .nav-bottom .right-nav-bottom .progress-circle.over50 .first50-bar {
    /*Progress bar for the first 50%, filling the whole right half*/
    position: absolute;
    /*needed for clipping*/
    clip: rect(0, 7em, 7em, 4.5em);
    background-color: #08a1db;
    border-radius: 50%;
    width: 7em;
    height: 7em;
}
  
body main .nav-bottom .right-nav-bottom .progress-circle:not(.over50) .first50-bar {
    display: none;
}

body main .home-image {
    width: 90%;
    margin: auto;
}

/* Home */

/* About US */

header nav .nav-container .nav-bottom .about-{
    text-align: center;
    background-color: #474e5de3;
    color: white;
    border-radius: 10px;
}

header nav .nav-container .nav-bottom .about-.content {
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: 20px auto auto auto;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: large;
}

header nav .nav-container .nav-bottom .about-.content h2 {
    margin: 20px 0;
    align-self: flex-start;
}

header nav .nav-container .nav-bottom .about-.content .read-more-btn {
    color:#fff;
    background-color: #2b9ec2;
    padding: 5px;
    text-decoration: none;
    letter-spacing: 1px;
    font-size: 30px;
    text-transform: uppercase;
    cursor: pointer;
    margin-bottom: 20px;
    border-radius: 10px;
}
header nav .nav-container .nav-bottom .about-.content .read-more-btn:hover{
    background-color: #fff;
    color:#2b9ec2;
}

header nav .nav-container .nav-bottom  .more-text {
    display: none;
    margin-bottom: 20px;
}

/* About US */


/* Offers */

.offer {
    display: flex;
    width: 100%;
    height: fit-content;    
    background-color: rgba(64, 224, 208, 0.555);
    flex-wrap: wrap;
    border-radius: 10px;
}

.offer .card-offers {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 100%;
    margin: 10px auto;
    border-radius: 10px;
    background-color: rgba(167, 167, 167, 0.904);
}

.offer .card-offers:hover{
    transform: translateY(-0.5%);
    box-shadow: 0 4rem 8rem black;
}

.offer .card-offers .card-top {
    width: 75%;
    align-self: center;
    height: 10em;
    margin-top: 10px;
    background-color: whitesmoke;
    display: flex;
    border-radius: 10px;
}

.offer .card-offers .card-top img {
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 10px;
}
.offer .card-offers .card-buttom {
    font-size: 90%;
    color: black;
    letter-spacing: 1;
    line-height: 1.6;
    text-align: center;
    font-family: sans-serif;
    margin-bottom: 10px;
}

.offer .card-offers .card-buttom button {
    border: none;
    width: 75%;
    height: 1.5em;
}

/* Offers */

/* FOOTER */
footer {
    width: 100%;
    background-color: rgb(38, 56, 95);
    height: fit-content;
    display: flex;
    flex-direction: column;
    margin: auto;
}

footer .footer-top {
    display: flex;
    width: 90%;
    height: 20%;
    margin: auto;
    border-bottom: dashed rgba(245, 245, 245, 0.445);
    justify-content: space-between;
    align-items: center;
}

footer .footer-top * {
    margin: 20px 0;
}

footer .footer-top img {
    width: 10%;
    height: 10%;
}

footer .footer-top .social-icons {
    display: flex;
    width: 30%;
    justify-content: space-between;
    align-items: center;
}

footer .footer-top .social-icons p {
    font-weight: bold;
    color: white;
}

footer .footer-top .social-icons .icons {
    background-color: rgba(64, 224, 208, 0.849);
    border-radius: 50px;
    width: 2.5em;
    height: 2.5em;
    display: flex;
}

footer .footer-top .social-icons i {
    text-align: center;
    margin: auto;
}

footer .footer-bottom {
    width: 90%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}


footer .footer-bottom div * {
    margin: 10px 0;
}

footer .footer-bottom div {
    display: flex;
    flex-direction: column;
    width: 30%;
    text-align: justify;
}

footer .footer-bottom div h1 {
    color: rgba(64, 224, 208, 0.849);
}

footer .footer-bottom div p {
    line-height: 1.6;
    color: rgba(255, 255, 255, 0.63);
    width: 80%;
}

footer .footer-bottom div .icons {
    background-color: rgba(64, 224, 208, 0.692);
    border-radius: 50px;
    width: 1.5em;
    height: 1.5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

footer .footer-bottom div span i {
    text-align: center;
    margin: auto;
}

footer .footer-bottom div span p {
    position: absolute;
    left: 2em;
    width: 13em;
}


footer .footer-bottom div ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

footer .footer-bottom div ul li {
    position: relative;
	padding-bottom: 10px;
}

footer .footer-bottom div ul li:before{
    content: "";
    position: absolute;
    border-right: 3px solid rgba(64, 224, 208, 0.692);
    border-bottom: 3px solid rgba(64, 224, 208, 0.692);
    width: 0.5em;
    height: 0.5em;
    top: calc(47% - 4px);
    left: -20px;
    transform: translateY(-50%) rotate(-45deg);
}

footer .footer-bottom div ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

footer .footer-bottom div ul li a:hover {
    color: rgba(64, 224, 208, 0.692);
    text-decoration: underline;
}
/* FOOTER */

/* Mostafa */

.topCon{
	min-width: 800px;
	text-align:center; 

}
.topCon h2{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
}
.topCon p{
	font-weight: 300;
	color: #fff;
} 

.container {
	width: 100%;
	justify-content: center;
	display: flex;
	align-items: center;
	margin-top: 30px;
}
.contactInfo{
	width: 50%;
	display: flex;
	flex-direction:  column;
}
.contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;

}
.contactInfo .box .icon{
	min-width:  60px;
	height: 60px;
	background-color: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	font-size:  24px;
}
.contactInfo .box .text{
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-size: 16px;
	color: #fff;
	font-weight: 300;

}
	.contactInfo .box .text h3{
		font-weight: 700;
		color: rgba(18,240,248);

	}
	.contactForm{
		width: 40%;
		padding: 60px;
		background-color: #fff;
	}
	.contactForm h2{
		font-size: 30px;
		color: #333;
		font-weight: 500;

	}
	.contactForm .inputBox{
		margin-top: 10px;
		position: relative;
		width: 100%;
	}
	.contactForm .inputBox input,
	.contactForm .inputBox textarea{
		width: 100%;
		padding: 5px 0;
		font-size: 16px;
		margin: 10px 0; 
		border: none;
		border-bottom:  2px solid #333;
		resize: none;
	}
	.contactForm .inputBox span{
		position: absolute;
		left: 0;
		padding: 5px 0;
		font-size: 16px;
		margin: 10px 0;
		pointer-events: none;
		color: #666;
	}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
    font-size:12px;
    color:rgb(255, 3, 137);
    transform:translateY(-20px);
    -webkit-transform:translateY(-20px);
    -moz-transform:translateY(-20px);
    -ms-transform:translateY(-20px);
    -o-transform:translateY(-20px);
}
	.contactForm .inputBox input[type=submit]{
		width: 100%;
		background-color: rgba(13,198,204);
		border-bottom: none;
		color: #fff;
		font-weight: 500;
		font-size: 20px;


	}
	@media (max-width:991px)
{
    .container{
        flex-direction:column;
    }
    .container .contactInfo{
        margin-bottom:50px;
    }
    .container .contactInfo,
    .contactForm{
        width:100%;
    }
}


.topCon{

}
 .topCon h1{
	font-size: 36px;
	font-weight: 500;
	color: #fff;
	align-items: stretch;
}
 .topCon p{
	font-weight: 300;
	color: #fff;
}


.askadoctor-container {
	margin: auto;
    display: flex;
    width: 50%;
    flex-direction: column;
}

.askadoctor-container .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 60%;
}

.askadoctor-container button{
	height: 30px;
	width: 160px;
	background:rgba(18,240,248);
	color: #fff;
	cursor: pointer;
	margin: 10px 0;
	font-size: 15px;
	box-shadow: 0 3px 10px #111;
	border-radius: 5px;
}
.askadoctor-container button:hover{
	opacity: .8;
}
.askadoctor-container .boxContainer{
	width: 100%;
    height: fit-content;
	background: #444;
	box-shadow: 0 5px 15px #111;
	border-radius: 5px;
	padding: 15px; 
	display: none;
}

.askadoctor-container .boxContainer .box{
	height: fit-content;
	width: 100%;
	border-radius: 5px;
	background:#f8f8f8;
	overflow-y: auto;
	text-align: left;
}

#input{
	width: 100%;
	height: 40px;
	background:none;
	font-size: 15px;
	color: #fff;
	border-bottom: 1px solid #fff;
}
#input:focus{
	border-bottom: 2px solid #fff;
}


/*Mostafa: Reservation*/
